streamlit
plotly
scikit-learn
scipy
openpyxl
beautifulsoup4
lxml

google-generativeai
streamlit==1.27.0
pandas==2.1.0
numpy==1.26.0
nltk==3.9.0
textblob==0.17.1
seaborn==0.12.2
matplotlib==3.8.0
wordcloud==1.8.2
google-generativeai==0.1.2
requests==2.31.0
selenium
webdriver-manager


